**/node_modules/
**/.env
**/.env.*
!**/.env.example
**/logs/
**/temp/

**/.venv/
**/venv/
**/__pycache__/
**/*.pyc

**/.idea/
**/.vscode/

*.p12
*.mobileprovision
*.jks
*.pem
*.key

.DS_Store
Thumbs.db